.grid-container-form-data {
    padding: 10px;
    font-weight: bold;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

textarea {
    resize: none;
}